*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #0fc3b0;
}
main{
  box-sizing: border-box;
}

.todo_container{
  width: 26%;
  margin: 0 auto;
  margin-top: 2%;
  position: relative;
}
.todo_header{
  display: flex;
  background: #fff;
  border-bottom: 1px solid #0fc3b0;
  padding: 36px 0;
  height: 40px;
}
.logo_section{
  margin-left: 20px;
  margin-top: 12px;
  color: transparent;
  background-image: url(../images/adalab.png);
  height: 100%;
  width: 100%;
  background-size: 25%;
  background-repeat: no-repeat;
}
.date_section{
  display: flex;
  width: 100%;
  margin-left: 30px;
}
.date{
  font-size: 2.8em;
  color:#0fc3b0;
  margin-right: 9px;
  font-weight: bold;
}
.date_info{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4%;
  color:#54585a;
  line-height: 20px;
}
.day{
  font-weight: bold;
}
.todo_section{
  background: #fff;
  min-height: 150px;
}
.add_section{
  height: 100px;
  background: #fff;
  border-top: 1px solid #0fc3b0;
  position: relative;
}
.addBtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  border-radius: 100%;
  background: #fff;
  color: #09877a;
  border: none;
  border: 4px solid #0fc3b0;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

/*seccion formulario*/
.add-todo_section{
  background: #099d8d;
  color: #fff;
  position: absolute;
  bottom: 2%;
  z-index: 2;
  left: 5%;
  width: 90%;
}
.add-todo_section p{
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}
.add-todo_section form{
  background: #099d8d;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
input[type="text"] {
	width: 96%;
	padding: 5px 0 5px 5px;
	font-size: 21px;
	border: 0;
  background-color: #099d8d;
	border: 1px solid #fff;
  color: #fff;
	outline: none;
  margin-top: 10px;
  border-radius: 3px;
}
input[type="button"]{
  background-color: #099d8d;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.5em;
  padding: 10px 0;
  color:#fff;
  cursor: pointer;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}

/*UL TO DO*/
#todo-list{
  list-style-type: none;
  margin-left: 20px;
  padding-top: 30px;
}
/*LI*/
span{
  font-size: 1.3em;
}
li{
  padding: 8px 0;
}

input[type="checkbox"] {
  /* display: inline-block; */
  width: 20px;
  height: 20px;
  background: url(../images/round-button.png) no-repeat cover;
  margin-right:  20px;
  vertical-align: middle;
  cursor:pointer;
}

input[type="checkbox"]:checked{
  background:url(../images/round-done-button.png) no-repeat cover;
}

.checked{
  background:url(../images/round-done-button.png) no-repeat;
}
/*UL completed*/
#completed-list{
  list-style-type: none;
  margin-left: 20px;
  padding-bottom: 30px;
}
/*LI*/
#completed-list li{
  text-decoration: line-through;
  font-weight: bold;
  color: #aeaeae;
}
